.gitattributes export-ignore
README.md export-ignore
.github/ export-ignore
opt/README.txt export-ignore
not-compiled/ export-ignore
CHANGELOG.md export-ignore
Tools/ export-ignore
dromi-linux/ export-ignore
